#root {
  display: grid;
  place-items: center;
  height: 100dvh;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  color: whitesmoke;
  border-radius: 16px;
  background-color: crimson;
}

.status-vivo {
  background-color: green;
  display: block;
  padding: 16px;
}

.status-muerto {
  background-color: black;
  display: block;
  padding: 16px;
}

form {
  display: flex;
  background-color: darkblue;
  color: whitesmoke;
  padding: 36px;
  width: 100%;
  margin-inline: auto;
}

.personaje-encontrado {
  border: 1px solid white;
  padding: 8px;
  box-shadow: 2px 2px 2px black;
  img {
    width: 120px;
  }
}

.personaje-encontrado:hover {
  background-color: crimson;
  cursor: pointer;
}

.personaje-encontrado:active {
  background-color: darkblue;
  cursor: pointer;
}

.grilla {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
  img {
    width: 120px;
    height: 120px;
    object-fit: scale-down;
  }
}

nav {
  display: flex;
  gap: 36px;
  a {
    background-color: rgb(131, 2, 2);
    color: whitesmoke;
    border: 2px solid paleturquoise;
    border-radius: 6px;
    padding: 6px;
    &.aqui-estoy {
      background-color: greenyellow;
      color: black;
    }
  }
}

.pagina-actual {
  border: 2px solid whitesmoke;
  padding: 6px;
  border-radius: 99px;
  color: whitesmoke;
  background-color: darkslateblue;
}

.paginacion {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.paginacion:hover {
  cursor: pointer;
}

.blog article {
    background-image: linear-gradient(45deg, black, transparent);
    padding: 18px;
}

section.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}